@import './abstracts/normalize';
@import './abstracts/reset';
@import './variables/container';
@import './variables/colors';

html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $app-light-gray1;
  height: 100%;
  line-height: normal;
  background-color: $app-dark-gray1;
  font-size: 16px;
}
#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  header,
  footer {
    background-color: $app-dark-gray2;
  }
  header {
    max-height: 60px;
    height: 10vh;
  }
  footer {
    max-height: 150px;
    height: 30vh;
  }

  main {
    flex: 1 1 auto;
  }
}
